{% extends 'base.html' %}
{% load trancate_middle %}
{% block head %}

    <style>
        table td, table tr {
            border: black 1px solid !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <table class="table table-bordered table-condensed">
                <h2 class="mb-4 mt-2">{{ title }}</h2>
                <tr class="row mx-0">
                    {% for user_word in list_words %}
                        <td class="col-1">{{ forloop.counter }}</td>
                        {% if type == '1' %}
                            <td class="col-2">{{ user_word.word.content }}<p>/{{ user_word.word.us_sound_mark }}/</p></td>
                            <td class="col-3"></td>
                        {% elif type == '2' %}
                            <td class="col-3">{{ user_word.word.translate }}</td>
                            <td class="col-2"></td>
                        {% elif type == '3' %}
                            <td class="col-2">{{ user_word.word.content }}<p>/{{ user_word.word.us_sound_mark }}/</p></td>
                            <td class="col-3">{{ user_word.word.translate}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% if type != '3' %}
                <tr class="row mx-0">
                    <td class="col-6">听写日期：__________ 学生姓名：__________</td>
                    <td class="col-6"> 共听写 _____个，错 _____个，正确率 _____%</td>
                </tr>
            {% endif %}
            </table>
        </div>
    </div>
    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

{% endblock %}

{% block script %}
    <script>
        function print_table() {
            var table = document.getElementsByTagName('table')[0];
            window.frames["print_frame"].document.body.innerHTML = table.innerHTML;
            window.frames["print_frame"].window.focus();
            window.frames["print_frame"].window.print();
        }

        var button = document.getElementById('print');
        button.onclick = print_table;
    </script>

{% endblock %}

