{% extends 'base.html' %}

{% block body %}

    <h2 align='center'>{{ list_words.name }}</h2>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <tr class="row mx-0">
                    {% for word in list_words.word_set.all %}
                        <td class="col-1">{{ word.id }}</td>
                        <td class="col-2">{{ word.content }}</td>
                        <td class="col-3"></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>


{% endblock %}

